/* 1 */
h2{
    color:  purple;
}
/* 2 */
body{
    background-color: #bdc3c7;
}
/* 3 */
h1{
    color: #9b59b6 ;
}
/* 4 */
h2{
    color: orange;
    /* rule 1 is annule */
}
/* 5 */
li{
    color: blue;
}
/* 6 */
p{
    background-color: yellow;
}
/* 7 */
input{
    border: red 3px;
}
/* 8 */
.hello{
    background-color: pink;
}
/* 9 */
#special{
    border: 2px blue;
}
/* 10 */
div p{
    font-size:25px
}
/* 11 */
input[type= text]{
    background-color: gray;
}
/* 12 */
div:nth-of-type(3) p{
    background-color: pink;
}
/* 13 */
div:nth-of-type(3) p:nth-of-type(2){
    border: solid white 5px;
}
/* 14 */
div:nth-of-type(3) em{
    color: white;
    font-size: 20px;
}
/* 15 */
input[type=checkbox]:checked{
    margin-left: 50px;
}
/* 16 */
label{
    text-transform: uppercase;
}
/* 17 */
#special::first-letter{
    color: green;
    font-size: 100px;
}
/* 18 */
h1:hover{
    color: aqua;
}
/* 19 */
a:visited{
    color: gray;
}